---
import Main from '../layouts/main.astro';
import EventReason from '../components/event-reasons.svelte';
import Welcome from '../components/welcome.svelte';
import Petition from '../components/petition.svelte';
import Navbar from '../components/navbar.svelte';
import Info from '../components/info.svelte';
import Volunteer from '../components/volunteer.svelte';
import Activities from '../components/activities.svelte';
---

<script>
	const handleIntersection: IntersectionObserverCallback = (entries) => {
		entries.forEach((entry) => {
			const nav = document.getElementById('nav');
			if (entry.isIntersecting) {
				nav?.setAttribute(
					'class',
					'invisible max-h-0 opacity-0 flex justify-center bg-primary p-0 fixed left-0 right-0 bottom-0 z-50 transition-all duration-300 ease-in',
				);
			} else {
				nav?.setAttribute(
					'class',
					'visible max-h-[80px] opacity-100 flex justify-center bg-primary p-0 fixed left-0 right-0 bottom-0 z-50 transition-all duration-300 ease-out',
				);
			}
		});
	};

	const welcome = document.getElementById('welcome');
	if (welcome) {
		const observer = new IntersectionObserver(handleIntersection);
		observer.observe(welcome);
	}
</script>
<Main>
	<div class="flex flex-col pb-[60px] md:pb-[80px]">
		<section
			id="welcome"
			class="flex items-center justify-center h-screen bg-[url(/bg.png)] bg-cover bg-center"
		>
			<Welcome client:load />
		</section>

		<section id="nav" class="fixed visible max-h-[80px] opacity-100 flex justify-center bg-primary p-0 left-0 right-0 bottom-0 z-50 transition-all duration-300 ease-out">
			<Navbar />
		</section>

		<section id="event-reasons" class="flex justify-center bg-primary-focus">
			<EventReason />
		</section>

		<section id="activities" class="flex justify-center">
			<Activities />
		</section>

		<section
			id="petition"
			class="flex justify-center bg-primary-focus"
		>
			<Petition client:load />
		</section>

		<section id="volunteer" class="flex justify-center">
			<Volunteer />
		</section>

		<section id="about-me" class="flex justify-center bg-base-200">
			<Info />
		</section>
	</div>
</Main>
